:root {
  --secondary-color: #757575;
  --prime-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--prime-color);
  background-color: var(--background-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h4,
h3 {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin: 0%;
  padding-left: 0%;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 80px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  margin-right: 94px;
}

.navigation,
.navigation__list {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__item > .link {
  position: relative;
  color: var(--prime-color);
}
.navigation__item > .curent {
  color: var(--accent-color);
}

.logo--blue {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}
.contacts__link > .link {
  display: flex;
}

.contacts__icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.curent::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  top: 38px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: flex;
  margin-left: auto;
}
.contacts .contacts__link:not(:last-child) {
  margin-right: 50px;
}

.hero {
  background-image: url(../images/img-overlay.png), url(../images/hero-image.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0;
  text-align: center;
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 696px;
  margin-bottom: 30px;
}

.features {
  padding-top: 94px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feateres__list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.features__item {
  width: 270px;
}
.features__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-anthena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagrama::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut:before {
  background-image: url(../images/astronaut.svg);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.busines {
  padding: 94px 0;
}

.busines-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.cards-set {
  display: flex;
}

.card {
  list-style: none;
  position: relative;
}
.card:not(:last-child) {
  margin-right: 30px;
}

.card__label {
  position: absolute;
  width: 100%;
  height: 23%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.card__tittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prime-color);
  margin-bottom: 50px;
}

.team__list {
  list-style: none;
  display: flex;
}

.team__item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.worker-card__item {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.worker-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--prime-color);
  margin-bottom: 10px;
}

.worker-card__position {
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.soc-list__item:last-child {
  margin-right: 0px;
}

.icon-social {
  fill: var(--secondary-color);
  transition: fill 250ms;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}
.soc-list__link:hover .icon-social, .soc-list__link:focus .icon-social {
  fill: var(--background-color);
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: var(--prime-color);
}

.customers-logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-logo {
  height: 92px;
  width: 170px;
}
.customer-logo:not(:last-child) {
  margin-right: 30px;
}

.customer-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms;
}
.customer-link:hover .customer-logo-icon, .customer-link:focus .customer-logo-icon {
  fill: var(--accent-color);
}
.customer-link:hover, .customer-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.customer-logo-icon {
  fill: var(--secondary-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms;
}
.customer-logo-icon:hover, .customer-logo-icon:focus {
  fill: var(--accent-color);
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .logo {
  color: #ffffff;
  margin-right: 0;
}

address {
  font-style: normal;
  margin-top: 20px;
}

.adress-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-left: 0;
}

.adress > .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link--contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.soc-list--white {
  fill: #ffffff;
}

.soc-list--grey-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-block:nth-child(2) {
  margin-left: 70px;
}

.footer-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  min-width: 358px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-btn {
  position: relative;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover, .footer-btn:focus {
  background-color: #188ce8;
}
.footer-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translate(10px, -50%);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--prime-color);
}

.portfolio-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.portfolio-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-cards {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-items {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.filter-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prime-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms, background-color 250ms, box-shadow 250ms;
}
.filter-btn:hover, .filter-btn:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms;
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .overlay-text, .portfolio-link:focus .overlay-text {
  transform: translateX(0);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 300ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(84, 111, 133, 0.42);
  top: 0;
  transition: opacity 500ms, visibility 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 521px;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 300ms;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--prime-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-requrements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.input-wrap {
  position: relative;
  outline: none;
}

.modalicon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translatey(-50%);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
}

.modal-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.modal-check:focus + .check-text::before {
  border-color: var(--accent-color);
}

.modal-input:focus,
.text-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-input:focus + .modalicon {
  fill: var(--accent-color);
}

.modal-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-left: 7px;
}

.link-modal {
  color: var(--accent-color);
}

.text-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.label-text {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-color);
}

.modal-submit-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-close-btn {
  fill: #212121;
}
.icon-close-btn:hover, .icon-close-btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  font-family: inherit;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */