.busines {
  padding: 94px 0;
}
.busines-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.cards-set {
  display: flex;
}

.card {
  list-style: none;
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.card__label {
  position: absolute;
  width: 100%;
  height: 23%;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.card__tittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
