.features {
  padding-top: 94px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.feateres__list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.features__item {
  width: 270px;
  &::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.icon-anthena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagrama::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut:before {
  background-image: url(../images/astronaut.svg);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
