.header {
  @include tablet {
    height: 60px;
  }
  @include desktop {
    height: 80px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--background-color);
    border-bottom: 1px solid #ececec;
  }
  @media screen and (max-width: 1199px) {
    height: 60px;
    padding: 16px 15px;
  }

  & > .container {
    display: flex;
    align-items: center;
  }
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;

  margin-right: 94px;
}
.navigation {
  @media screen and (max-width: 1199px) {
    margin-right: auto;
  }
}

.navigation,
.navigation__list {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.navigation__list {
  display: flex;
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
  & > .link {
    position: relative;
    color: var(--prime-color);
  }
  & > .curent {
    color: var(--accent-color);
  }
}

.logo--blue {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  .contacts__link > & {
    display: flex;
  }
}

.contacts__icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.curent::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  top: 29px;
  @include desktop {
    top: 38px;
  }
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
  display: flex;
  margin-left: auto;
  @include desktop {
    & .contacts__link:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media tscreen and(min-width: 764px), (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
  }
}

.menu-open-btn,
.menu-close-btn {
  border-color: transparent;
  background-color: transparent;
  display: block;
  margin-left: auto;
  margin-right: 15px;
}
.menu-open-btn {
  @media screen and (min-width: 767px) {
    display: none;
  }

  fill: #212121;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 48px;
    overflow-y: auto;
  }
}

.mob-menu__item {
}

.container {
}
.menu-close-btn {
}
.icon-close-btn {
}
.mob-menu__navigation {
}
.mob-menu__list {
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #212121;
}
.mob-connect {
}
.mob-connect__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  margin-bottom: 32px;
}
.mob-connect__link {
}

.mob-connect__mail-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
}

.mob-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  .link {
    color: var(--accent-color);
  }
}

.mob-social-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.curent-mob {
  color: var(--accent-color);
}
