.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--prime-color);

  margin-bottom: 50px;
}
.team__list {
  list-style: none;
  display: flex;
}

.team__item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.worker-card__item {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.worker-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--prime-color);

  margin-bottom: 10px;
}

.worker-card__position {
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.icon-social {
  fill: var(--secondary-color);
  transition: fill 250ms;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .icon-social,
  &:focus .icon-social {
    fill: var(--background-color);
  }
}
