body {
  font-family: Roboto, sans-serif;
  color: var(--prime-color);
  background-color: var(--background-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h4,
h3 {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
ul {
  margin: 0%;
  padding-left: 0%;
  list-style: none;
}
